<div class="edit"><center>
<%= form_with(model: person ) do |form| %>
    <%=render 'errors',resource: person %>
    <%= form.label :имя %>
    <%= form.text_field :name %>
  <div class="actions">
    <%= form.submit  %>
  </div>
<% end %>
</center>
</div>