<div class="edit"><center>
<h1>Editing Person</h1>

<%= form_with(model: @person) do |form| %>
  <%= form.label :имя %>
  <%= form.text_field :name %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>



<%= link_to 'Back', people_path,class:"one" %>
</center>
</div>