<p id="notice"><%= notice %></p>

<h1>People</h1>

<table border="solid">
  <thead>
    <tr>
        <td>имя</td>
        <td colspan="2"><center>действие</center></td>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %> </td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <% if person.id!=1 %>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end  %>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
