<h1>Editing Expense</h1>

<% expense=params.require(:format) %>
<%= form_with scope: :expense, url: expense_path(expense), method: :patch do |form| %>
  <%= form.label :тема %>
  <%= form.text_field :name %>
  <%= form.label :заметка %>
  <%= form.text_field :text %>
  <%= form.label :'кол-во денег' %>
  <%= form.text_field :summa %>
  <%= form.label :дата %>
  <%= form.date_field :date %>
  <br>
  <%= form.check_box :status %>
  <br>
  <%= form.submit %>
<% end %>
<% id=Expense.find(expense).category_id %>
<%= link_to 'Back',  expenses_path(id) ,class:"one"%>
